#panelgrid {
    position: relative;
    width: 100%;
    height: 94vh;
}

.lock {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
}

#panelgrid .panel {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
    overflow: hidden;
    object-fit: cover;
}

#panelgrid .panel .resize-handle {
    position: absolute;
    z-index: 5;
    touch-action: none;
}

#panelgrid .panel .handle-top,
#panelgrid .panel .handle-bottom {
    left: 0;
    width: 100%;
    height: 1vh;
}

#panelgrid .panel .handle-left,
#panelgrid .panel .handle-right {
    top: 0;
    height: 100%;
    width: 1vh;
}

#panelgrid .panel .handle-top { top: 0; cursor: ns-resize; }
#panelgrid .panel .handle-bottom { bottom: 0; cursor: ns-resize; }
#panelgrid .panel .handle-left { left: 0; cursor: ew-resize; }
#panelgrid .panel .handle-right { right: 0; cursor: ew-resize; }

#panelgrid .panel .handle-tl,
#panelgrid .panel .handle-tr,
#panelgrid .panel .handle-bl,
#panelgrid .panel .handle-br { width: 2vh; height: 2vh; }

#panelgrid .panel .handle-tl { top: -0.5vh; left: -0.5vh; cursor: nwse-resize; }
#panelgrid .panel .handle-tr { top: -0.5vh; right: -0.5vh; cursor: nesw-resize; }
#panelgrid .panel .handle-bl { bottom: -0.5vh; left: -0.5vh; cursor: nesw-resize; }
#panelgrid .panel .handle-br { bottom: -0.5vh; right: -0.5vh; cursor: nwse-resize; }