.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar p {
    font-size: 4vh;
    margin: 2vh;
}

.navbar .controlls {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    bottom: 0;
}

.navbar .controlls .option,
.navbar .controlls .dropdown-container .option {
    width: 10vw;
    height: 10vh;
    background: transparent;
    border: 0.16vh solid white;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    padding: 0;
}

.navbar .controlls .dropdown-container .dropdownBtn {
    height: 10vw;
}

.dropdown-container .dropdown-menu {
    position: absolute;
    bottom: 0;
    left: 10vw;
    list-style: none;
    padding: 0;
    display: none;
    min-width: 15vW;
}

.dropdown-container.open .dropdown-menu {
    display: block;
    animation: slideUp 0.2s ease-out;
}

.dropdown-container .dropdown-menu li button {
    width: 100%;
    background: none;
    padding: 1vh;
    border: 0.1vh;
    text-align: left;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 1vh;
}

.dropdown-container .dropdown-menu li button:hover,
.dropdown-container .dropdown-menu li button:focus {
    background-color: radial-gradient(#222922, #000500);
    outline: none;
}

.dropdown-container .dropdown-menu .menusplit {
    height: 1vh;
}

.dropdown-container .dropdown-menu .menutext {
    padding: 0;
    margin: 1.5vh;
    text-align: center;
    font-size: 3vh;
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
