#panelgrid {
    position: relative;
    width: 100%;
    height: 94vh;
}

.lock {
    position: absolute;
    bottom: 0.25vh;
    left: 0.25vh;
}

.panel {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
}

.panel .resize-handle {
    position: absolute;
    z-index: 5;
    touch-action: none;
}

.panel .handle-top,
.panel .handle-bottom {
    left: 0;
    width: 100%;
    height: 1vh;
}

.panel .handle-left,
.panel .handle-right {
    top: 0;
    height: 100%;
    width: 1vh;
}

.panel .handle-top { top: -0.5vh; cursor: ns-resize; }
.panel .handle-bottom { bottom: -0.5vh; cursor: ns-resize; }
.panel .handle-left { left: -0.5vh; cursor: ew-resize; }
.panel .handle-right { right: -0.5vh; cursor: ew-resize; }

.panel .handle-tl,
.panel .handle-tr,
.panel .handle-bl,
.panel .handle-br {
    width: 1.5vh;
    height: 1.5vh;
}

.panel .handle-tl { top: -0.75vh; left: -0.75vh; cursor: nwse-resize; }
.panel .handle-tr { top: -0.75vh; right: -0.75vh; cursor: nesw-resize; }
.panel .handle-bl { bottom: -0.75vh; left: -0.75vh; cursor: nesw-resize; }
.panel .handle-br { bottom: -0.75vh; right: -0.75vh; cursor: nwse-resize; }
