#panelgrid {
    position: relative;
    width: 100%;
    height: 94vh;
}

.lock {
    position: absolute;
    bottom: 0.25vh;
    left: 0.25vh;
}

.panel {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
}