#panelgrid {
    position: relative;
    width: 100%;
    height: 94vh;
}

.lock {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
}

.panel {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
    overflow: hidden;
    object-fit: cover;
}

.panel .resize-handle {
    position: absolute;
    z-index: 5;
    touch-action: none;
}

.panel .handle-top,
.panel .handle-bottom {
    left: 0;
    width: 100%;
    height: 1vh;
}

.panel .handle-left,
.panel .handle-right {
    top: 0;
    height: 100%;
    width: 1vh;
}

.panel .handle-top { top: 0; cursor: ns-resize; }
.panel .handle-bottom { bottom: 0; cursor: ns-resize; }
.panel .handle-left { left: 0; cursor: ew-resize; }
.panel .handle-right { right: 0; cursor: ew-resize; }

.panel .handle-tl,
.panel .handle-tr,
.panel .handle-bl,
.panel .handle-br { width: 2vh; height: 2vh; }

.panel .handle-tl { top: -0.5vh; left: -0.5vh; cursor: nwse-resize; }
.panel .handle-tr { top: -0.5vh; right: -0.5vh; cursor: nesw-resize; }
.panel .handle-bl { bottom: -0.5vh; left: -0.5vh; cursor: nesw-resize; }
.panel .handle-br { bottom: -0.5vh; right: -0.5vh; cursor: nwse-resize; }

#content-wrapper {
    width: stretch;
    height: stretch;
    border: 0;
    position: absolute;
    inset: 1vh;
}

#content-wrapper.fix {
    transition: 0.3s;
}

#content-wrapper.interactive {
    content: "";
    background: rgba(170, 170, 170, 0.5);
    pointer-events: none;
    opacity: 0.4;
    transition: 0.3s;
}

#content-wrapper .content {
    width: 100%;
    height: 100%;
}