#panelgrid {
    position: relative;
    width: 100%;
    height: 94vh;
}

.lock {
    position: absolute;
    bottom: 0.25vh;
    left: 0.25vh;
}

.panel {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
    overflow: hidden;
    object-fit: cover;
}

.panel .resize-handle {
    position: absolute;
    z-index: 5;
    touch-action: none;
}

.panel .handle-top,
.panel .handle-bottom {
    left: 0;
    width: 100%;
    height: 3vh;
}

.panel .handle-left,
.panel .handle-right {
    top: 0;
    height: 100%;
    width: 3vh;
}

.panel .handle-top { top: -1.5vh; cursor: ns-resize; }
.panel .handle-bottom { bottom: -1.5vh; cursor: ns-resize; }
.panel .handle-left { left: -1.5vh; cursor: ew-resize; }
.panel .handle-right { right: -1.5vh; cursor: ew-resize; }

.panel .handle-tl,
.panel .handle-tr,
.panel .handle-bl,
.panel .handle-br { width: 4vh; height: 4vh; }

.panel .handle-tl { top: -2vh; left: -2vh; cursor: nwse-resize; }
.panel .handle-tr { top: -2vh; right: -2vh; cursor: nesw-resize; }
.panel .handle-bl { bottom: -2vh; left: -2vh; cursor: nesw-resize; }
.panel .handle-br { bottom: -2vh; right: -2vh; cursor: nwse-resize; }

#content {
    width: 100%;
    height: 100%;
    margin: 1vh;
}

#content iframe {
    width: auto;
    height: auto;
    border: 0;
    margin: 1vh;
}