.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    height: 5vh;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.navbar .dropdown-container {
    position: relative;
    padding: 1vh;
}

.navbar .container .square-btn {
    width: 3vh;
    height: 3vh;
    background: transparent;
    border: 0.16vh solid white;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    padding: 0;
}

.navbar .container .square-btn .bar {
    width: 60%;
    height: 0.22vh;
    background-color: white;
    margin: 0.17vh 0;
    border-radius: 0.22vh;
    transition: all 0.3s ease;
    position: relative;
}

.navbar .home-container .square-btn .bar {
    position: absolute;
}

.navbar .dropdown-container .square-btn.open .bar1 {
    transform: rotate(45deg) translate(0.385vh, 0.385vh);
}

.navbar .dropdown-container .square-btn.open .bar2 {
    opacity: 0;
}

.navbar .dropdown-container .square-btn.open .bar3 {
    transform: rotate(-45deg) translate(0.385vh, -0.385vh);
}

.navbar .home-container .square-btn .roof-left {
    top: 0.6vh;
    left: 0.3vh;
    transform: rotate(-35deg);
    width: 1.3vh;
}

.navbar .home-container .square-btn .roof-right {
    top: 0.6vh;
    right: 0.3vh;
    transform: rotate(35deg);
    width: 1.3vh;
}

.navbar .home-container .square-btn .wall-left {
    transform: rotate(90deg) translate(0.2vh, 0.6vh);
    width: 1.25vh;
}

.navbar .home-container .square-btn .wall-right {
    transform: rotate(90deg) translate(0.2vh, -0.6vh);
    width: 1.25vh;
}



.navbar .home-container .square-btn .bottom {
    transform: translate(0, 0.7vh);
    width: 1.3vh;
}


/* 
Still under development
Not ready
 */

.dropdown-menu {
    position: absolute;
    bottom: 5.5vh;
    left: 0;
    list-style: none;
    padding: 0;
    display: none;
    min-width: 14vh;
}

.dropdown-container.open .dropdown-menu {
    display: block;
    animation: slideUp 0.2s ease-out;
}

.dropdown-menu li button {
    width: 100%;
    background: none;
    padding: 1vh;
    border: 0.1vh;
    text-align: left;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 1vh;
}

.dropdown-menu li button:hover,
.dropdown-menu li button:focus {
    background-color: radial-gradient(#222922, #000500);
    outline: none;
}

.dropdown-menu .menusplit {
    height: 1vh;
}

.dropdown-menu .menutext {
    padding: 0;
    margin: 1vh;
    text-align: center;
    font-size: 2vh;
}

.navbar p {
    margin-left: 1vh;
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
