#content-wrapper {
    width: stretch;
    height: stretch;
    border: 0;
    position: absolute;
    inset: 1vh;
}

#content-wrapper.fix {
    transition: 0.3s;
}

#content-wrapper.interactive {
    content: "";
    background: rgba(170, 170, 170, 0.5);
    pointer-events: none;
    opacity: 0.4;
    transition: 0.3s;
}

#content-wrapper .content {
    width: 100%;
    height: 100%;
}

/* 
----------
 - HOME - 
---------- 
*/

/* 
----------
 - INFO - 
---------- 
*/

/* 
----------
 - SETTING-DEVICES - 
---------- 
*/

/* 
----------
 - SETTING-CONFIG-DATABASE - 
---------- 
*/
/* DatabaseInfo */
.positionvisual-size {
    --simulator-width: 600px;
}


/* 
----------
 - SETTING-USER - 
---------- 
*/